body {
  background-image: src('background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
body:before {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
}
img {
  display: grid;
  place-self: center;
  border-radius: 20px;
  border-color: black;
}
* {
  font-family: Comic Sans MS, Sans-Serif;
}
button {
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: 65%;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(20px);
  box-shadow: black, 10px;
}
button:hover {
  transform: scale(0.9);
}
button,a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 6px;
  display: inline-block;
}
h1 {
  text-align: center;
  background-color: black;
  color: white;
  opacity: 65%;
  border-radius: 10px;
  border: 2px solid white;
}
h4 {
  text-align: center;
  background-color: black;
  color: white;
  opacity: 65%;
  border-radius: 10px;
  border: 2px solid white;
}
.text-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  color: white;
  opacity: 65%;
  text-align: center;
  width: 100%;
  text-align: center;
  border: 2px solid white;
}
audio {
  background: white;
  opacity: 65%;
  border-radius: 6px;
  display: grid;
  place-self: center;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 2px solid white;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
  color: white;
  font-size: 20px;
  background-color: black;
  opacity: 65%;
  width: 100%;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
